body {
    margin: 0;
    margin-top: 100px;
    scroll-behavior: smooth;
    height: 100vh;
}

.backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./img/hintergrundbild.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 65%;
    background-repeat: no-repeat;
    opacity: 0.8;
    z-index: -1;
}


.header {
    background: linear-gradient(to bottom, rgba(255, 197, 0, 1), rgba(0, 92, 191, 1), rgb(134, 11, 11), rgba(255, 197, 0, 0));
    position: fixed;
    z-index: 1;
    top: 0;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.logo img {
    width: 85px;
    height: 75px;
    opacity: 0.7;
}


#mainContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    min-width: 100%;
}


.mainCard {
    width: 250px;
    height: 309px;
    border-radius: 20px;
    background: #0279f8cb;
    border: double 5px rgb(172, 11, 11);
    margin: 25px;
    box-shadow: 0 0 15px 0px #ffc500;
}



.mainCardImage {
    background-color: #ffc400d9;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 200px;
    width: 250px;
    margin-top: -37px;
    cursor: pointer;
}



.mainCardImage img {
    margin-left: 35px;
    height: 190px;
    display: flex;
    filter: drop-shadow(7px 10px 2px rgba(42, 6, 6, 0.575));
}


.mainCardImage img:hover {
    transform: scale(1.2);
    transform-origin: center bottom;
    transition: transform 0.1s ease-in-out;
}


.cardHeadline {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
    color: rgba(8, 4, 104, 0.644);
    font-size: 30px;
    font-weight: bold;
    height: 50px;
}


.cardHeadline p {
    margin-top: 7px;
}


.cardHeadlineIdIcons {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}


.categorieIcon {
    max-height: 25px;
    max-width: 45px;
    padding-top: 10px;
    padding-left: 10px;
}


.typeCard {
    display: flex;
}

.name {
    font-size: 40px;
    color: #ffc400d9;
    filter: drop-shadow(4px 4px 8px rgba(232, 228, 228, 0.5));
    text-align: center;
    padding-bottom: 22px;
    margin-top: 0px;
}


.btn {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.button {
    color: #f3efef;
    background: linear-gradient(to bottom, rgba(255, 197, 0, 1), rgba(0, 92, 191, 1), rgb(134, 11, 11), rgba(255, 197, 0, 0));
    border: 5px solid #ff000020;
    border-radius: 10px;
    padding: 7px 7px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 50px;
    transition: all 0.2s;
    opacity: 0.7;
}

.button:hover {
    transform: scale(0.95);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}


input {
    width: 150px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background-color: rgba(178, 15, 9, 0.2);
    background-image: url('img/search.ico');
    background-position: 10px 10px;
    background-size: 17px;
    background-repeat: no-repeat;
    padding: 8px 12px 10px 35px;
    margin-top: -30px;
    margin-left: 20px;
    color: rgb(213, 235, 10);
    outline: none;
    box-shadow: 0px 0px 3px 3px #afe60877;
    z-index: 2;
    cursor: auto;
    padding-bottom: 10px;
}



input::placeholder {
    color: rgb(213, 235, 10);
    padding-left: 8px;
}



#cardOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(35 34 34 / 95%);
    position: fixed;
    width: 100%;
    height: 120vh;
    z-index: 999;
}




.BigCard {
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
    animation: flip 3s forwards;
    box-shadow: 0 0 10px 0px #ffc500;
    border: double 5px rgb(172, 11, 11);
    border-radius: 20px;
    width: 375px;
    height: 513px;
    margin: 25px;
    font-size: 28px;
}


@keyframes flip {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(90deg);
    }

    100% {
        transform: rotateY(180deg);
    }
}


.x {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 50px;
    top: 50px;
    padding: 7px;
    cursor: pointer;
    background-color: #d3ee0b51;
    border-radius: 10px;
}

#left {
    width: 45px;
    height: 45px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    display: flex;
    left: -400%;
    padding: 7px;
    cursor: pointer;
    background-color: #d3ee0b51;
    border-radius: 10px;
}

#right {
    width: 45px;
    height: 45px;
    cursor: pointer;
    position: relative;
    display: flex;
    left: 400%;
    padding: 7px;
    cursor: pointer;
    background-color: #d3ee0b51;
    border-radius: 10px;
}


.cardOverlay img {
    width: auto;
    height: 368px;
    display: flex;
}

.cardImgOverlay {
    max-width: 345px;
    max-height: 320px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center
}

h6 {
    font-size: 15px;
    margin: 0;
    color: white;
    text-align: center;
    display: none;
}

.descriptionOverlay {
    margin-top: 0px;
    margin-bottom: -5px;
    color: white;
    text-align: center;
}

.pokeNumber {
    padding-left: 16px;
    color: white;
    margin: 0;
    padding-top: 10px;
    font-size: 30px;
}


.cardOverlay.front {
    position: absolute;
    backface-visibility: hidden;
    border-radius: 20px;
}


.cardOverlay.back {
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 15px;
}

.imgBack {
    height: 130px !important;
    padding-left: 15px;
}

.descriptionBack {
    color: #f3efef;
    font-size: 30px;
    text-align: center;
}

.pokemonWeight {
    padding-left: 11px;
    color: white;
    padding-top: 20px;
    flex-direction: column;
    text-align: center;
    line-height: 5px;
}

.pokemonHeight {
    padding-left: 15px;
    color: white;
    padding-top: 20px;
    flex-direction: column;
    text-align: center;
    line-height: 5px;
    padding-right: 15px;
}


.sections {
    display: flex;
    justify-content: space-around;
    color: white;

}


p {
    font-size: 25px;
    margin-top: 25px;
}


.colorSection {
    transition: color 0.3s ease;
    font-size: 20px;

}


.colorSection:hover {
    color: rgba(255, 0, 0, 0.595);
    cursor: pointer;
}




.sectionCards {
    height: 196px;
    border: #000000;
    padding-left: 15px;
}

.moveContainer {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 170px;
    max-width: 300px;
    text-align: center;
}

.moveCard {
    padding-left: 41px;
    padding-right: 5px;
}

.moveSection {
    display: flex;
    flex-wrap: wrap;
    height: 143px;

}

.move {
    margin: 2px;
    color: rgb(224, 186, 186);
    border: solid 1px rgb(13, 62, 2);
    text-align: center;
    border-radius: 5px;
    padding: 2px;
}

.abilityContainer {
    height: 174px;
    max-width: 330px;
    text-align: center;
    padding-right: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.abilityCard {
    padding-left: 41px;
    padding-right: 5px;
}

.ability {
    margin: 5px;
    padding-left: 50px;
    padding-right: 50px;
    color: rgb(224, 186, 186);
    border: solid 1px rgb(13, 62, 2);
    text-align: center;
    border-radius: 5px;

}


/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(44, 40, 40);
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 92, 191, 0.701);
    border-radius: 2px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(4, 81, 164);
    cursor: pointer;
}





.normal {
    background: linear-gradient(1deg, #d5ee0b, rgba(246, 242, 242, 0.69));
}

.fire {
    background: linear-gradient(1deg, rgb(212 7 7), rgba(241, 236, 236, 0.69));
}

.water {

    background: linear-gradient(1deg, rgb(14 104 126), rgba(241, 237, 237, 0.69));
}

.grass {
    background: linear-gradient(1deg, rgb(24 137 17), rgba(232, 224, 224, 0.69));
}

.electric {
    background: linear-gradient(1deg, rgb(237 251 51), rgba(239, 231, 231, 0.69));
}

.ice {
    background: linear-gradient(1deg, rgb(158, 240, 245), rgba(246, 240, 240, 0.69));
}

.fighting {
    background: linear-gradient(1deg, rgb(241 181 48), rgba(235, 227, 227, 0.69));
}

.poison {
    background: linear-gradient(1deg, rgb(24 137 17), rgba(239, 230, 230, 0.69));
}

.ground {
    background: linear-gradient(1deg, rgb(77 7 7), rgba(249, 246, 246, 0.69));
}

.flying {
    background: linear-gradient(1deg, rgb(36 168 202), rgba(235, 229, 229, 0.69));
}

.psychic {
    background: linear-gradient(1deg, #c40606, rgba(173, 167, 167, 0.69));
}

.bug {
    background: linear-gradient(1deg, #159d07, rgba(177, 174, 174, 0.69));
}

.rock {
    background: linear-gradient(1deg, rgb(72 72 72), rgba(172, 169, 169, 0.69));
}

.ghost {
    background: linear-gradient(1deg, #fdfeff, rgb(31 9 9 / 69%));
}

.dark {
    background: linear-gradient(1deg, #000000, rgb(31 9 9 / 69%));
}

.dragon {
    background: linear-gradient(1deg, #ee650b, rgb(31 9 9 / 69%));
}

.steel {
    background: linear-gradient(1deg, rgb(166, 165, 165), rgb(31 9 9 / 69%));
}

.fairy {
    background: linear-gradient(1deg, #fe0f83, rgb(31 9 9 / 69%));
}




@media (max-width: 414px) {
    .logoYellow {
        display: none;
    }


}


@media (max-width: 595px) {
    .BigCard {
        width: 70%;
        height: auto;
        margin: 10px;
        font-size: 20px;
    }


    .abilityCard {
        padding-left: 5px;
        padding-right: 5px;
    }


    .moveCard {
        padding-left: 5px;
        padding-right: 5px;
    }


    p {
        font-size: 13px;
        margin-top: 15px;
    }

    .pokemonWeight {

        padding-left: 15px;
        color: white;
        padding-top: 20px;
        flex-direction: column;
        text-align: center;
        line-height: 5px;
    }

    .pokemonHeight {

        padding-left: 0px;
        color: white;
        padding-top: 20px;
        flex-direction: column;
        text-align: center;
        line-height: 5px;
        padding-right: 15px;
    }


    .cardOverlay img {
        width: 200px;
        height: 168px;
        display: flex;
        padding-top: 50px;
    }


    #left {
        width: 15px;
        height: 15px;
        cursor: pointer;
        position: relative;
        z-index: 2;
        display: flex;
        left: -270%;
        margin-bottom: 70px;
        cursor: pointer;
        background-color: #d3ee0b51;
        border-radius: 10px;
    }

    #right {
        width: 15px;
        height: 15px;
        cursor: pointer;
        position: relative;
        display: flex;
        left: 270%;
        margin-bottom: 70px;
        cursor: pointer;
        background-color: #d3ee0b51;
        border-radius: 10px;
    }




}