body {
    margin: 0;
}




#pokeCard {
    background-color: rgba(120, 3, 3, 0.764);
    min-height: 35vh;
    width: 15vw;
    border: 2px solid green;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
}